/*********************
BUTTONS
*********************/

.button, .button:visited {
	@include transition(all 0.2s ease-in-out);
  	background: $blue;
  	border-width: 1px 1px 3px !important;
	border-style: solid;
	border-color: darken($blue, 10%);
  	color: $light-grey;
	font-family: $sans-serif;
  	font-weight: 400;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;


	&:hover, 
	&:focus {
		color: $white;
		background: darken($blue, 15%);
		border-color: darken($blue, 20%);
	}

	&:active {
		background: darken($blue, 20%);
		border-color: darken($blue, 25%);
	}
}

.button--large {
	@include rem(padding, 0.7 1.5);
	@include rem(font-size, 0.7);
	//@include rem(width, 6);
	@include breakpoint(papa-bear) { 
		//@include rem(width, 10);
		@include rem(font-size, 1);
	}
}

.button--small {
	@include rem(padding, 0.7 0);
	@include rem(font-size, 0.75);
	font-weight: 600;
	width: 100%;
}

.button--square {
	@include rem(margin-right, 0.7);
	@include rem(padding, 0.6 0);
	@include rem(width, 3.45);
	float: left;
}

.button--fixed-150 {
	@include rem(padding, 0.6 0);
	@include rem(width, 9.375);
}

.left-bar__button {
	@include rem(padding, 0.7);
	@include rem(font-size, 1.15);
	@include rem(margin-bottom, 1);
	@include rem(width, 3.25);
	border: 0px;
	color: $light-grey;
	text-align: left;

	@include breakpoint(papa-bear) { 
		@include rem(width, 10);
	}
}

.button--post {
	@include rem(padding, 0.7 0);
	@include rem(font-size, 0.75);
	@include rem(margin-left, 0);
	@include rem(margin-right, 0.25);
	font-weight: 600;
	float: left;
	@include rem(width, 5.7);

	@include breakpoint(papa-bear) { 
		@include rem(margin-left, 0.25);
		@include rem(margin-right, 0);
		@include rem(width, 7);
	}
}

.button--channel {
	@include rem(padding, 0.7 1.5);
	@include rem(font-size, 0.75);
	@include rem(margin-left, 0);
	@include rem(margin-right, 0);
	font-weight: 400;
	float: right;
	//@include rem(width, 5.7);

	@include breakpoint(papa-bear) { 
		@include rem(font-size, 1);
		@include rem(margin-left, 0);
		@include rem(margin-right, 0);
		//@include rem(width, 7);
	}
}

.left-bar a.current-state span,
.left-bar a.current-state span:visited,
.left-bar a.current-state span:hover,
.left-bar a.current-state span:focus  {
		color: $white;
	}

.sub-nav__view-control .button,
.sub-nav__view-control--right .button {
	@include rem(margin-right, 0.75);
	float: left;
}

.button--free-floating {
	@include rem(margin, 0 0 1.5 1.5);
}